# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.mod

# Libraries
*.lib
*.a
*.la
*.so
*.dll

# Executables
*.exe
*.out
*.app

# Folders
.idea
.vscode
.history
.next
out/
build/
dist/
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
